.links-container{
display:flex;
list-style-type: none;

width: 400px;
justify-content: space-evenly;

}
nav{
  display: flex;
justify-content: space-between;
box-shadow: 2px 2px 4px rgb(198, 168, 168);
align-items: center;}
.link{
  text-decoration: none;
}
.img-container{
  width: 300px;
  background-color: rgb(242, 224, 196);
  height: 400px;
}
.img-container img{
  width: 100%;
  height: 100%;
}
.aboutme{
  display: flex;
  padding: 20px;
  gap: 10px;
  background-color: rgb(230, 208, 208);
  height: 100vh;

}
.globe-icon{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  border-radius:50% ;
  box-shadow: 2px 2px 5px rgb(128, 128, 128);
  background-color: rgb(253, 245, 235);
}
body{
  background-color: rgb(236, 231, 225);
  margin: auto;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
'Open Sans', 'Helvetica Neue', sans-serif;
text-align: center;
}
